<app-listagem-generica 
    [titulo]="'Adiantamentos'" 
    [colunas]="[
        { label: 'Colaborador', campo: 'colaborador_idcolaborador', tipo: 'text', labelField: '', valueField: ''  },
        { label: 'Valor', campo: 'valor', tipo: 'number', labelField: '', valueField: '' },
        { label: 'Data', campo: 'data', tipo: 'date', labelField: '', valueField: '' },
        { label: 'Descrição', campo: 'descricao', tipo: 'text', labelField: '', valueField: '' }
    ]" 
    [itens]="itens" 
    [endpoint]="'adiantamento'"
    [idCampo]="idCampo"
    [campos]="campos"
    (itemSelecionadoChange)="onItemSelecionado($event)" 
    (incluir)="onIncluirItem()"
    (editar)="onEditarItem($event)" 
    (excluir)="onExcluirItem($event)"
></app-listagem-generica>