<app-listagem-generica
    [titulo]="'Estados'" 
    [colunas]="[
      { label: 'Nome', campo: 'nome', tipo: 'text', labelField: '', valueField: ''  },
      { label: 'Sigla', campo: 'sigla', tipo: 'text', labelField: '', valueField: ''  }
      ]" 
    [itens]="itens" 
    [endpoint]="'estado'"
    [idCampo]="idCampo"
    [campos]="campos"
    [mostrarAcoes]="true" 
    (itemSelecionadoChange)="onItemSelecionado($event)"
    (incluir)="onIncluirItem()" 
    (editar)="onEditarItem($event)" 
    (excluir)="onExcluirItem($event)"
></app-listagem-generica>