<app-listagem-generica
  [titulo]="'Alterações de Salário'"
  [colunas]="[
    { label: 'Colaborador', campo: 'Colaborador.nome', tipo: 'select', labelField: 'nome', valueField: 'idcolaborador' },
    { label: 'Data de Alteração', campo: 'dtalteracao', tipo: 'date', labelField: '', valueField: '' },
    { label: 'Salário', campo: 'valor', tipo: 'number', labelField: '', valueField: '' }
  ]"
  [itens]="itens"
  [endpoint]="'historicosalario'"
  [idCampo]="idCampo"
  [campos]="campos"
  (itemSelecionadoChange)="onItemSelecionado($event)"
  (incluir)="onIncluirItem()"
  (editar)="onEditarItem($event)"
  (excluir)="onExcluirItem($event)"
></app-listagem-generica>
