<app-listagem-generica
    [titulo]="'Setores'"
    [colunas]="[
     { label: 'Nome', campo: 'nome', tipo: 'text', labelField: '', valueField: ''  },
     { label: 'Unidade', campo: 'Unidade.nome', tipo: 'select', labelField: 'nome', valueField: 'idunidade'  }
   ]"
   [itens]="itens"
   [endpoint]="'setores'"
   [idCampo]="idCampo"
   [campos]="campos"
   (itemSelecionadoChange)="onItemSelecionado($event)"
   (incluir)="onIncluirItem()"
   (editar)="onEditarItem($event)"
   (excluir)="onExcluirItem($event)"
></app-listagem-generica>