<app-listagem-generica
  [titulo]="'Período'"
  [colunas]="[
    { label: 'Nome', campo: 'nome', tipo: 'text', labelField: '', valueField: '' },
    { label: 'Mês Referência', campo: 'mesreferencia', tipo: 'number', labelField: '', valueField: ''  },
    { label: 'Ano Referência', campo: 'anoreferencia', tipo: 'number', labelField: '', valueField: ''  }
  ]"
  [itens]="itens"
  [endpoint]="'periodo'"
  [idCampo]="idCampo"
  [campos]="campos"
  (itemSelecionadoChange)="onItemSelecionado($event)"
  (incluir)="onIncluirItem()"
  (editar)="onEditarItem($event)"
  (excluir)="onExcluirItem($event)"
></app-listagem-generica>