<app-listagem-generica
    [titulo]="'Municípios'"
    [colunas]="[
     { label: 'Nome', campo: 'nome', tipo: 'text', labelField: '', valueField: ''  },
     { label: 'Estado', campo: 'Estado.sigla', tipo: 'select', labelField: 'sigla', valueField: 'idestado'  }
   ]"
   [itens]="itens"
   [endpoint]="'municipio'"
   [idCampo]="idCampo"
   [campos]="campos"
   (itemSelecionadoChange)="onItemSelecionado($event)"
   (incluir)="onIncluirItem()"
   (editar)="onEditarItem($event)"
   (excluir)="onExcluirItem($event)"
></app-listagem-generica>
