<app-listagem-generica
[titulo]="'Salário Vigente'" 
[colunas]="[
  { label: 'Empresa', campo: 'Empresa.nome', tipo: 'select', labelField: 'nome', valueField: 'idempresa' },
  { label: 'Data Início', campo: 'dtinicio', tipo: 'number', labelField: '', valueField: '' },
  { label: 'Data Fim', campo: 'dtfim', tipo: 'number', labelField: '', valueField: '' },
  { label: 'Valor', campo: 'valorFormatado', tipo: 'number', labelField: '', valueField: '' }
]" 
  [itens]="itens" 
  [endpoint]="'salariovigente'"
  [idCampo]="idCampo"
  [campos]="campos"
  (itemSelecionadoChange)="onItemSelecionado($event)"
  (incluir)="onIncluirItem()"
  (editar)="onEditarItem($event)"
  (excluir)="onExcluirItem($event)"
>
</app-listagem-generica>