<app-listagem-generica
  [titulo]="'Colaboradores'"
  [colunas]="[
    { label: 'Nome', campo: 'nome', tipo: 'text', labelField: '', valueField: ''  },
    { label: 'Dt Início', campo: 'dtinicio', tipo: 'date', labelField: '', valueField: ''  },
    { label: 'Função', campo: 'Funcaoempresa.nome', tipo: 'text', labelField: 'nome', valueField: 'idfuncaoempres'  },
    { label: 'Ativo', campo: 'boolean', tipo: 'text', labelField: '', valueField: ''  }
  ]"
  [itens]="itens"
  [endpoint]="'colaborador'"
  [idCampo]="idCampo"
  [campos]="campos"
  (itemSelecionadoChange)="onItemSelecionado($event)"
  (incluir)="onIncluirItem()"
  (editar)="onEditarItem($event)"
  (excluir)="onExcluirItem($event)"
></app-listagem-generica>