.card {
    border: 1px solid var(--p-surface-200);
    border-radius: 7px;
}

:host {
    grid-area: footer;
    text-align: center;
    background-color: #fff;
}

.model-2 {
    display: none;
}

@media (max-width: 768px) {
    .model-1 {
        display: none;
    }

    .model-2 {
        display: contents;
    }
}